

.landing__container{
    display:flex;
 
    background: var(---background);
    height: 100vh;
    width: 100%;
}
.left__sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #00dfc4;
    justify-content: space-around;


}

.left__sec  span{
    color: red;
    letter-spacing: 1px;
}
.right__sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    position: relative;

}
.signUp__link,.login__link{
    display: flex;
position: absolute;  
bottom: 6rem; 
color:#6d7877; 

}

.signUp__link button,.login__link button{
    display: flex;
    border: none;
  justify-content: center;
  align-items: center;
    background: none;
    margin-left: 0.6rem;
    color: #00dfc4;
cursor: pointer;
}
.signUp__link button:hover,.login__link button:hover{
font-size: 1rem;
}






@media only screen and (max-width:600px){
 

    .landing__container{
        display: flex;
        flex-direction: column;
    }

    .left__sec{
        width: 100%;
        height: 10rem;

    }
    .right__sec{
        width: 95%;
        margin: auto;
    }
   
  
    
  }