

.suggestion__container{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: fixed;
    right: 0;
}


.suggestions{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 50vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: thin;

}
.suggestions::-webkit-scrollbar {
    width: 12px;
  }
.suggestions h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2bfbf;
    padding: 1rem;
}
.suggestions .suggest__user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #000;
    padding: 0.8rem 0;
    height: 4rem;
}
.suggest__user img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;
    background: rgb(202, 199, 199);
}
.suggest__user .user__name{
    display: flex;
    align-items: center;
    height: 2rem;
    color: var(---font-color);
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.suggest__user button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid var(---btn-color);
    background: transparent;
    color: var(---font-color);
    padding: 0.5rem;
    margin-left: 3rem;
}


@media only screen and (max-width:600px){

    .suggestion__container{
        display: none;
    }
    .suggestion__container .filters{
        display: none;
    }
  
    
  }