

.edit__post__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
.edit__post__main{
    background: var(---background);
    width: 50%;
position: relative;
}
.__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #888;
    margin: 1rem;
}
.close__edit__post{
    position: absolute;
top: 0.5rem;
right: 0.5rem;
height: 2rem;
width: 2rem;
background: rgba(0,0,0,0.5);
border: none;
font-size: 1.3rem;
color: red;
cursor: pointer;
border-radius: 50%;
}

.edit__post__main .edit__post_top  .input__field textarea{
    height: 10rem;
}

.comment a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
}



.emoji__picker{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

}

.emoji__picker span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 1000;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: red;
    background: #888;
}

.show__all__post h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #9999;
}
.create__post__bottom  label{
    color: #888;
    font-size: 1.7rem;
    cursor: pointer;

}

.emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #888;
}

.create_post__media{
    display: flex;
    position: relative;
    height: 6rem;
    height: 6rem;

}
.edit_post__media{
    display: flex;
    position: relative;
    margin-left: 2rem;

}
.edit_post__media img{
    height: auto;
    width: 7rem;
}
.remove__media{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -1rem;
    left: -1rem;
    background: #000;
    border: none;
    height: 1.5rem;
    cursor: pointer;
    width: 1.5rem;
    border-radius: 50%;
    color: red;
}

@media only screen and (max-width:600px){

   .edit__post__main{
    width: 90%;
   }
    .user__profile{
        width: 65%;
        justify-self: flex-end;
        margin-right: 1rem;
    }
  }