
.single__profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background: var(---background);
       /* width: 100%; */
       margin-top: 4rem;
}
.single__profile__main{
    width: 100%;
    display: flex;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 57%;
    min-height: 100vh;
    border-left: 1px solid #949090;
    border-right: 1px solid #949090;
     
    }
    .profile__details{
        display: flex;
        flex-direction: column;
    
        width: 100%;
        margin-top: 1rem;   
        border-bottom: 1px solid #949090;
}
.hero{
    display: flex;
    flex-direction: column;
  
    width: 100%;
    position: relative;
}
.hero .cover{
    height: 15rem;
    width: 100%;
    margin: 0;

}
.hero .avatar{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 9rem;
    width: 9rem;
    position: absolute;
    top: 10rem;
    left: 2rem;
    border: 2px solid #999;
    border-radius: 50%;
}


.hero__details{
    display: flex;
    width: 80%;
    
    align-items: center;
    margin-top: 4rem;
    justify-content: space-between;
    padding: 1rem 1rem ;
}

.hero__details h3{
    display: flex;
    text-transform: capitalize;
    align-items: center;
    color: #ffff;
    font-size: 1.3rem;
}
.hero__details p{
    display: flex;
    margin-top: 0.4rem;
    color: #949090;
    
}
.profile__action__btns{
    display: flex;
    gap: 1rem;
    width: 10%;
    flex-direction: column;

}
.hero__details button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    background: transparent;
    border: 1px solid #999;
    color: #949090;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.hero__follow{
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    color: #949090;
    font-size: 1rem;
    margin-top: 2rem;
    justify-content:space-around;
}

.user__post{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}