


.mobile__nav{
    display: none;
    
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.mobile__create_post{
    display: flex;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(---font-color);

}

.search__Mobile{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
    top: 4rem;
    right: 0;
    left: 0;
    background: var(---background);
}



@media only screen and (max-width:600px){
    
    .mobile__nav{
        display: flex;
        width: 100%;
         height: 4rem;
        justify-content: space-around;
        align-items: center;
        background: var(---background);
        margin-bottom: -2px;
        z-index: 100;
    }
    .mobile__nav a{
        display: flex;
        text-decoration: none;
        color: var(---font-color);
        font-size: 1.5rem;

    }
    .user__profile__mobile{
        display: flex;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        justify-content: center;
    }

    .user__profile__mobile img{
        display: flex;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

  
   
  
    
  }